In [1]:
import numpy as np
import pandas as pd
import sklearn

In [38]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
testt_data = pd.read_csv("test.csv")

In [39]:
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [40]:
testt_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [41]:
train_data.shape

(8693, 14)

In [42]:
test_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [43]:
test_data.shape

(4277, 13)

In [44]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [45]:
train_data.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [10]:
train_data.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [11]:
def clean(data): 
    #the passenger ID does not matter, nor does the name
    data.drop(["PassengerId", 'Name'], axis = 1, inplace = True)
    data = pd.get_dummies(data, columns= ['HomePlanet', 'CryoSleep', 'Destination', 'VIP']
                                                 , drop_first= True)
    data = pd.concat([data, pd.get_dummies(data['Cabin'].str[0], drop_first = True)], axis = 1)
    data = pd.concat([data, pd.get_dummies(data['Cabin'].str[-1], drop_first = True)], axis = 1)
    data.drop('Cabin', axis = 1, inplace= True)
    data['Age'].fillna(data['Age'].median(), inplace = True)
    data['RoomService'].fillna(data['RoomService'].median(), inplace = True)
    data['FoodCourt'].fillna(data['FoodCourt'].median(), inplace = True)
    data['ShoppingMall'].fillna(data['ShoppingMall'].median(), inplace = True)
    data['Spa'].fillna(data['Spa'].median(), inplace = True)
    data['VRDeck'].fillna(data['VRDeck'].median(), inplace = True)

    return data

In [46]:
def cleantest(data): 
    #the passenger ID does not matter, nor does the name
    data.drop(['Name'], axis = 1, inplace = True)
    data = pd.get_dummies(data, columns= ['HomePlanet', 'CryoSleep', 'Destination', 'VIP']
                                                 , drop_first= True)
    data = pd.concat([data, pd.get_dummies(data['Cabin'].str[0], drop_first = True)], axis = 1)
    data = pd.concat([data, pd.get_dummies(data['Cabin'].str[-1], drop_first = True)], axis = 1)
    data.drop('Cabin', axis = 1, inplace= True)
    data['Age'].fillna(data['Age'].median(), inplace = True)
    data['RoomService'].fillna(data['RoomService'].median(), inplace = True)
    data['FoodCourt'].fillna(data['FoodCourt'].median(), inplace = True)
    data['ShoppingMall'].fillna(data['ShoppingMall'].median(), inplace = True)
    data['Spa'].fillna(data['Spa'].median(), inplace = True)
    data['VRDeck'].fillna(data['VRDeck'].median(), inplace = True)

    return data

In [47]:
train = clean(train_data)
test = cleantest(test_data)

In [13]:
train.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,...,Destination_TRAPPIST-1e,VIP_True,B,C,D,E,F,G,T,S
0,39.0,0.0,0.0,0.0,0.0,0.0,False,1,0,0,...,1,0,1,0,0,0,0,0,0,0
1,24.0,109.0,9.0,25.0,549.0,44.0,True,0,0,0,...,1,0,0,0,0,0,1,0,0,1
2,58.0,43.0,3576.0,0.0,6715.0,49.0,False,1,0,0,...,1,1,0,0,0,0,0,0,0,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,False,1,0,0,...,1,0,0,0,0,0,0,0,0,1
4,16.0,303.0,70.0,151.0,565.0,2.0,True,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [48]:
test.head()

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,...,Destination_TRAPPIST-1e,VIP_True,B,C,D,E,F,G,T,S
0,0013_01,27.0,0.0,0.0,0.0,0.0,0.0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
1,0018_01,19.0,0.0,9.0,0.0,2823.0,0.0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
2,0019_01,31.0,0.0,0.0,0.0,0.0,0.0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,0021_01,38.0,0.0,6652.0,0.0,181.0,585.0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
4,0023_01,20.0,10.0,0.0,635.0,0.0,0.0,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [49]:
train.isnull().sum()

Age                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
Transported                  0
HomePlanet_Europa            0
HomePlanet_Mars              0
CryoSleep_True               0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
VIP_True                     0
B                            0
C                            0
D                            0
E                            0
F                            0
G                            0
T                            0
S                            0
dtype: int64

In [50]:
test.isnull().sum()

PassengerId                  0
Age                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
HomePlanet_Europa            0
HomePlanet_Mars              0
CryoSleep_True               0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
VIP_True                     0
B                            0
C                            0
D                            0
E                            0
F                            0
G                            0
T                            0
S                            0
dtype: int64

In [51]:
X = train.drop('Transported', axis = 1)
y = train['Transported']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=142)

In [52]:
X.shape, y.shape

((8693, 20), (8693,))

In [53]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,accuracy_score
from sklearn.model_selection import train_test_split
log = LogisticRegression()
# fitting data in our model
log.fit(X_train,y_train)

pred = log.predict(X_test)

# CLASSIFICATION REPORT

print(accuracy_score(y_test, pred))

0.7860839562967222

C:\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [54]:
print(pred.shape)

(1739,)

In [55]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder



clf = RandomForestClassifier(n_estimators=50, max_depth =10, random_state=15)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.7993099482461185

In [56]:
testt_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [57]:
test.head()

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,...,Destination_TRAPPIST-1e,VIP_True,B,C,D,E,F,G,T,S
0,0013_01,27.0,0.0,0.0,0.0,0.0,0.0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
1,0018_01,19.0,0.0,9.0,0.0,2823.0,0.0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
2,0019_01,31.0,0.0,0.0,0.0,0.0,0.0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,0021_01,38.0,0.0,6652.0,0.0,181.0,585.0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
4,0023_01,20.0,10.0,0.0,635.0,0.0,0.0,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [58]:
subid = test.PassengerId
test.drop('PassengerId', inplace=True, axis=1)

clf.fit(X,y)
pred = clf.predict(test)
pred = pred.astype(bool)
output = pd.DataFrame({'PassengerId': subid,'Transported': pred.squeeze()})
output.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [59]:
output.shape

(4277, 2)

In [60]:
output.to_csv(r'C:\Users\SK VERMA\Desktop\Kaggle Project\submission.csv', index=False, header=True)

In [61]:
output.shape

(4277, 2)

In [27]:
submission = pd.read_csv("sample_submission.csv")

submission.shape

(4277, 2)

(2608,)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

HomePlanet      201
CryoSleep         0
Cabin           199
Destination     182
Age               0
VIP               0
RoomService     181
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
Deck            199
Num             199
Side            199
dtype: int64

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Num,Side
0,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0,B,0,P
1,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,1,F,0,S
2,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,A,0,S
3,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,A,0,S
4,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,1,F,1,S

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Num,Side
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0,B,0,P
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,1,F,0,S
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,A,0,S
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,A,0,S
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,1,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,0,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0,A,98,P
8689,Earth,1,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,0,G,1499,S
8690,Earth,0,TRAPPIST-1e,26.0,0,0.0,0.0,1872.0,1.0,0.0,1,G,1500,S
8691,Europa,0,55 Cancri e,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0,E,608,S
8692,Europa,0,TRAPPIST-1e,44.0,0,126.0,4688.0,0.0,0.0,12.0,1,E,608,S

(4277, 13)

HomePlanet      201
CryoSleep         0
Cabin           199
Destination     182
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
Deck            199
Num             199
Side            199
dtype: int64

  HomePlanet  CryoSleep  Cabin  Destination   Age  VIP  RoomService  \
0     Europa          0  B/0/P  TRAPPIST-1e  39.0    0          0.0
1      Earth          0  F/0/S  TRAPPIST-1e  24.0    0        109.0
2     Europa          0  A/0/S  TRAPPIST-1e  58.0    1         43.0
3     Europa          0  A/0/S  TRAPPIST-1e  33.0    0          0.0
4      Earth          0  F/1/S  TRAPPIST-1e  16.0    0        303.0

   FoodCourt  ShoppingMall     Spa  VRDeck  Transported Deck Num Side
0        0.0           0.0     0.0     0.0            0    B   0    P
1        9.0          25.0   549.0    44.0            1    F   0    S
2     3576.0           0.0  6715.0    49.0            0    A   0    S
3     1283.0         371.0  3329.0   193.0            0    A   0    S
4       70.0         151.0   565.0     2.0            1    F   1    S

ValueError: could not convert string to float: 'Earth'

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,TotalSpent
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,736.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,10383.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,5176.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1091.0

In [68]:
hot_train = pd.get_dummies(train_data, columns=["HomePlanet","CryoSleep","Destination","VIP"],drop_first=True)

In [70]:
hot_test = pd.get_dummies(test_data, columns=["HomePlanet","CryoSleep","Destination","VIP"], drop_first=True)

hot_train["Transported"].replace({True:1,False:0}, inplace=True)

In [71]:
hot_train.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,TotalSpent,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True
0,39.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0,0,0,1,0
1,24.0,109.0,9.0,25.0,549.0,44.0,1,736.0,0,0,0,0,1,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,0,10383.0,1,0,0,0,1,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,5176.0,1,0,0,0,1,0
4,16.0,303.0,70.0,151.0,565.0,2.0,1,1091.0,0,0,0,0,1,0

In [72]:
x = hot_train.drop('Transported',axis=1)
y = hot_train['Transported']

In [73]:
# splitting data into training and testing data

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.30,random_state=47)

C:\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [76]:
submission = pd.read_csv("sample_submission.csv")

submission['Transported'] = pred
submission['Transported'].replace({1:True,0:False}, inplace=True)
submission.to_csv("submission.csv", index=False)
submission.head(10)

ValueError: Length of values (2124) does not match length of index (4277)